fastapi
uvicorn
langchain
langchain-core
langchain-ollama
langchain-postgres
langgraph
langgraph-checkpoint-postgres
langchain-openai
langchain-community
psycopg2-binary
pgvector
redis
sqlalchemy
requests
redisvl
python-dotenv
fastembed
